body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

button {
height: 370px;
width: 300px;
transition:all 0.07s;
margin: 50px;
}


    

.playing {
    transform: scale(1.1);
    border-color: black;
    box-shadow: 0 0 1rem black;

}