body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: flex;
    flex-direction: column;

}
h2 {
    font-family: Monaco, Lucida Console, monospace;
    color: grey;
}

button {
    height: 370px;
    width: 300px;
    transition: all 0.07s;
    margin: 50px;
    border: 4px, solid black;
    background-color: rgb(211, 208, 208);
}

.block2 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(211, 208, 208);
    font-family: Monaco, Lucida Console, monospace;
    color: black;
    font-size: medium;
    
    
}

.block3 {
    display: flex;
    justify-content: center;
    font-family: Monaco, Lucida Console, monospace;
    color: black;
    font-size: medium;
    gap: 50px;
    margin-top: 25px;
}

.computer1, .result {
    padding: 10px;
} 

.computer2, .player {
    border: solid black;
    padding: 10px;
    background-color: rgb(211, 208, 208);
}

.playing {
    transform: scale(1.1);
    border: 20px, solid black;
    box-shadow: 0 0 1rem black;

}